<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%- title %></title>

    <!-- Custom fonts for this template -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->

      <%- include('../layout/sidebar')%>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../layout/navbar')%>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div id="flashMessage" class="z-10"></div>
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800 font-weight-light">All FAQ</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#createModal"
                >
                  Add FAQ
                </button>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Sl No.</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Sl No.</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Actions</th>
                      </tr>
                    </tfoot>
                    <tbody id="faqTableBody"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <%- include('../layout/footer')%>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Create Modal Start -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form
            action=""
            method="post"
            id="faq-form"
            enctype="multipart/form-data"
          >
            <div class="modal-header">
              <h5 class="modal-title">Add FAQ</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Question:</label>
                <textarea
                  class="form-control"
                  name="question"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label>Answer:</label>
                <textarea
                  class="form-control"
                  name="answer"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Create Modal End -->

    <!-- Edit Modal Start -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="update-form" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title">Edit FAQ</h5>
              <button
                type="button"
                class="close edit-modal-close"
                data-dismiss="modal"
              >
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Question:</label>
                <textarea
                  class="form-control"
                  name="question"
                  id="edit-question"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label>Answer:</label>
                <textarea
                  class="form-control"
                  name="answer"
                  id="edit-answer"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary edit-modal-close"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary" id="edit-submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal End -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <form action="/admin/signout" method="post">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Ready to Leave?
              </h5>
              <button
                class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Select "Logout" below if you are ready to end your current
              session.
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-dismiss="modal">
                Cancel
              </button>
              <button class="btn btn-primary" type="submit">Logout</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script>
      function loadFaq() {
        $.ajax({
          url: "/list-faq",
          type: "GET",
          xhrFields: {
            withCredentials: true,
          },
          success: function (response) {
            const faq = response.data;
            const tbody = $("#faqTableBody");
            tbody.empty(); // clear old rows
            faq.forEach((item, index) => {
              tbody.append(`
            <tr>
              <td>${index + 1}</td>
              <td>${item.question}</td>
              <td>${item.answer}</td>
              <td>
                 <button
                  class="btn btn-warning btn-sm edit-btn"
                  data-id="${item._id}"
                  data-toggle="modal"
                  data-target="#editModal"
                >
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-danger btn-sm delete-btn" data-id="${
                  item._id
                }">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          `);
            });
          },
          error: function (xhr) {
            $("#flashMessage").html(
              `<div class="alert alert-danger">No FAQs found</div>`
            );
          },
        });
      }
      //Delete Function
      $(document).on("click", ".delete-btn", function () {
        const id = $(this).data("id");
        if (confirm("Are you sure you want to delete this faq?")) {
          $.ajax({
            url: `/delete-faq/${id}`,
            async: true,
            method: "DELETE",
            xhrFields: {
              withCredentials: true,
            },
            success: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-success" role="alert">${response.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
              loadFaq();
            },
            error: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-danger" role="alert">${response?.responseJSON?.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
            },
          });
        }
      });
      // load Service when page loads
      $(document).ready(loadFaq);
    </script>
    <script>
      $(document).ready(function () {
        //Create Function
        $("#faq-form").submit(function (e) {
          e.preventDefault();
          let formData = new FormData(this);
          $.ajax({
            url: "/add-faq",
            async: true,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            xhrFields: {
              withCredentials: true,
            },
            success: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-success" role="alert">${response.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
              $("#faq-form")[0].reset();
              loadFaq();
            },
            error: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-danger" role="alert">${response?.responseJSON?.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
              $("#faq-form")[0].reset();
            },
          });
        });
        //Get Faq Details
        $(document).on("click", ".edit-btn", function () {
          const id = $(this).data("id");
          $("#update-form").attr("data-id", id);
          $.ajax({
            url: `/faq-details/${id}`,
            async: true,
            method: "GET",
            xhrFields: {
              withCredentials: true,
            },
            success: function (response) {
              const service = response.data;
              $("#edit-question").val(service.question);
              $("#edit-answer").val(service.answer);
            },
          });
        });
        $("#editModal").on("hidden.bs.modal", function () {
          $("#update-form").removeAttr("data-id")[0].reset();
          $("#edit-status").prop("checked", false);
        });
        //Update Faq
        $("#update-form").submit(function (e) {
          e.preventDefault();
          const id = $("#update-form").attr("data-id");
          const formData = new FormData(this);
          $.ajax({
            url: `/faq-update/${id}`,
            async: true,
            data: formData,
            type: "PATCH",
            processData: false,
            contentType: false,
            xhrFields: {
              withCredentials: true,
            },
            success: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-success" role="alert">${response.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
              loadFaq();
            },
            error: function (response) {
              $("#flashMessage").html(
                `<div class="alert alert-danger" role="alert">${response?.responseJSON?.message}</div>`
              );
              $(".alert")
                .delay(5000)
                .slideUp(200, function () {
                  $(this).alert("close");
                });
            },
          });
        });
      });
    </script>
  </body>
</html>
